@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:ital,wght@0,500;0,700;0,800;1,400");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===Primary Color===*/
/*===Neutral Color===*/
/*===Font Family===*/
body {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

p {
  font-family: "Karla", sans-serif;
}

.hero-img-l {
  display: none;
}

.container {
  text-align: center;
}

/*===header style===*/
.top-header {
  width: 100%;
  display: flex;
  position: fixed;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  z-index: 3;
  z-index: 9999;
  box-shadow: 0px 2px 5px rgba(131, 125, 135, 0.2);
}

.menu-btn {
  cursor: pointer;
}

/*===nav-header style===*/
.nav-header {
  width: 100%;
  height: 90vh;
  background: #2b272f url(../images/bg-pattern-mobile-nav.svg) no-repeat bottom;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 3px;
  position: fixed;
  z-index: 999;
  top: 5rem;
  left: 0;
  display: grid;
  place-items: start center;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.3s ease-out;
}
.nav-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 100%;
}
.nav-header ul li {
  padding: 1rem 1rem;
  margin: 0.5rem 0;
  width: 90%;
}
.nav-header ul li a {
  color: white;
  padding: 1rem;
}
.nav-header ul li:last-child {
  border: 2px solid white;
}
.nav-header .close-btn {
  position: absolute;
  top: -3.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.open-nav {
  transform: scaleY(1);
}

/*====hero-section style====*/
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #2d2640;
}

.hero-img-s {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 5rem;
}

.hero-text {
  padding: 5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background: url(../images/bg-pattern-intro-left-mobile.svg) no-repeat top left;
}
.hero-text .hero-title {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero-text .hero-subtitle {
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2rem;
  margin-bottom: 2.5rem;
}
.hero-text .cta-hero {
  color: #fafafa;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1.5rem;
  border: 2px solid #fafafa;
  transition: 0.3s;
}
.hero-text::after {
  content: "";
  background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat bottom right;
  width: 100%;
  height: 100%;
  transform: translateY(90px);
  position: absolute;
}

/*===content style===*/
hr {
  width: 35%;
  margin: 8rem auto 0;
  padding-top: 2px;
  background-color: rgba(211, 156, 211, 0.6);
  border: none;
}

.content-title {
  margin: 2rem 1rem 3rem;
  font-size: 3rem;
}

.contents {
  display: grid;
  place-items: start center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.content__item {
  margin: 2rem 1rem;
}

.content__item-img {
  margin-bottom: 1.8rem;
}

.content__item-title {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
}

.content__item-subtitle {
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  color: #837d87;
}

.content-cta {
  margin: 7rem 1rem 8rem;
  background: #2b272f url(../images/bg-pattern-how-we-work-mobile.svg) no-repeat top right;
  color: #fafafa;
  display: grid;
  place-items: center;
}
.content-cta-text {
  font-family: "DM Serif Display", serif;
  font-size: 2.8rem;
  line-height: 2.7rem;
  padding: 5rem 2rem 2rem;
}
.content-cta .btn-cta {
  color: #fafafa;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 0.8rem 2rem;
  border: 2px solid #fafafa;
  margin-bottom: 4rem;
  cursor: pointer;
  transition: 0.3s;
}
.content-cta .btn-cta:hover {
  background: #fafafa;
  color: #2d2640;
}

/*====footer style===*/
footer {
  background: #fafafa url(../images/bg-pattern-footer-mobile.svg) no-repeat top left;
}

.footer-header {
  border-bottom: 0.5px solid #837d87;
  margin: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  margin: 5rem auto 2rem;
}

.link-social-media {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.nav-footer {
  display: flex;
  flex-direction: column;
}

.list-nav-footer {
  margin-bottom: 2rem;
}
.list-nav-footer li {
  margin-bottom: 1rem;
}
.list-nav-footer li a {
  color: #2b272f;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-footer-title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #837d87;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 2rem;
}

.attribution a {
  color: #3e52a3;
}

/*====breakpoint====*/
@media only screen and (min-width: 1024px) {
  .hero-img-s {
    display: none;
  }

  header, main, footer {
    display: grid;
    justify-items: center;
    width: 100%;
  }

  header {
    background: #2d2640;
    position: relative;
  }
  header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg-pattern-intro-right-desktop.svg) no-repeat top right;
  }

  .menu-btn {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .container {
    display: grid;
    text-align: left;
    width: 80%;
  }

  .top-header {
    position: fixed;
    justify-content: space-evenly;
    padding: 1rem 3rem;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px rgba(131, 125, 135, 0.2);
  }

  .nav-header {
    /*=====return display====*/
    transform: scaleY(1);
    height: auto;
    width: 69%;
    background: transparent;
    display: grid;
    justify-content: end;
    position: relative;
    top: 0;
    font-size: 0.8rem;
  }
  .nav-header ul {
    flex-direction: row;
    margin: 0;
    align-items: center;
    gap: 2rem;
  }
  .nav-header ul li {
    padding: 0;
    margin: 0;
    width: auto;
    transition: 0.3s;
    cursor: pointer;
  }
  .nav-header ul li a {
    color: #2b272f;
    padding: 0;
  }
  .nav-header ul li:last-child {
    color: #2b272f;
    font-weight: 700;
    border: 2px solid #2b272f;
    padding: 0.5rem 1rem;
  }
  .nav-header ul li:last-child:hover {
    background-color: #2b272f;
    color: white;
  }
  .nav-header ul li:last-child:hover a {
    color: white;
  }

  .hero {
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 1rem;
  }

  .hero-img-l {
    display: block;
    position: relative;
    top: 10rem;
    right: 0;
  }

  .hero-text {
    order: -1;
    text-align: left;
    justify-content: flex-start;
    margin-inline: 0;
    padding-inline: 0;
    background: transparent;
    position: static;
  }
  .hero-text .hero-title {
    letter-spacing: 5px;
  }
  .hero-text::after {
    background: url(../images/bg-pattern-intro-left-desktop.svg) no-repeat bottom left;
    position: absolute;
    left: 0;
    bottom: -18rem;
  }
  .hero-text .cta-hero:hover {
    background: white;
    color: #2d2640;
  }

  hr {
    width: 10%;
    margin: 20rem 0 0;
    padding-top: 2px;
    background-color: rgba(211, 156, 211, 0.6);
    border: none;
  }

  .content-title {
    margin-inline: 0;
    font-size: 4rem;
  }

  .contents {
    justify-content: space-between;
    gap: 2rem;
  }

  .content__item {
    margin-inline: 0;
  }

  .content-cta {
    margin-inline: 0;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d2640 url(../images/bg-pattern-how-we-work-desktop.svg) no-repeat right;
  }
  .content-cta-text {
    font-size: 3rem;
    padding: 1rem;
    flex-basis: 50%;
  }
  .content-cta .btn-cta {
    margin: 0;
  }

  footer {
    background: url(../images/bg-pattern-footer-desktop.svg) no-repeat top left;
  }

  .footer-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 0;
    margin-top: 5rem;
    padding-bottom: 2rem;
  }

  .logo-footer {
    margin: 0;
  }

  .link-social-media {
    flex-basis: 50%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
  .link-social-media a:hover {
    transform: scale(1.1);
  }

  .nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list-nav-footer ul li a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    display: block;
  }
}